
body{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

header{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    margin-bottom:3%;
    
}

header h1{
    font-size:270%;
    font-family: 'Pacifico', cursive;
    font-style: italic;
}
li section p{
    font-family: 'PT Sans Narrow', cursive;
    margin-left: 4%;
    color: rgb(73, 73, 73);
}


#logo{
    width: 5%;
}

#spacing{
    margin-left: 60%;
}

#weirdspace{
    margin-left: .6%;
}

img{
    display: flex;
    margin: .06%;
    height: 2%;
    width: 2%;
    justify-content: flex-end;
}

#bigimg{
    display:flex;
    justify-content: center;
    width: 100%;

}

.hero-image {
    background-image: url(/img/hr-img.png);
    height: 20px;
    margin-bottom: 7%;
  }

#CP{
    font-family:'Passion One', cursive;
    font-size: 350%;
}

#CP6{
    color: darkgray;
    font-family: 'PT Sans Narrow', cursive;
    font-size: larger;
}

#print{
    font-family: 'PT Sans Narrow', cursive;
    color: darkgray;
}

nav{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3%;
}

#checklist{
    display: flex;
    justify-content: space-around;
    background-image: url(/img/list-bg.png);
    font-family: 'Kalam', cursive;
    font-size: xx-large;
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

P{
    margin-top: 3%;
}