
body{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

header{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    margin-bottom:3%;
    
}

header h1{
    font-size:270%;
    font-family: 'Pacifico', cursive;
    font-style: italic;
}
li section p{
    font-family: 'PT Sans Narrow', cursive;
    margin-left: 4%;
}


#logo{
    width: 5%;
}

#spacing{
    margin-left: 52%;
}

#weirdspace{
    margin-left: .6%;
}

img{
    display: flex;
    margin: .06%;
    height: 2%;
    width: 2%;
    justify-content: flex-end;
}

#bigimg{
    display:flex;
    justify-content: center;
    width: 100%;

}

.hero-image {
    background-image: url(/img/hr-img.png);
    height: 20px;
  }